* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #ebebeb;
  color: rgba(0, 0, 0, 0.8);
}
header {
  width: 100%;

  background-color: #f2f2f2;
  /* box-shadow: 0px 4px 5px 0px rgb(171 171 171); */
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
  border-color: #e7e7e7;
  position: fixed;
  top: 0;
}
.logo {
  width: 100%;
  height: 40px;
  display: grid;
  align-items: center;
  text-align: center;
}
.logo h2 {
  font-size: 1.5rem;
}
.contpadre {
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  margin-top: 70px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
  border-radius: 5px;
}
.containerr {
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr;
}
.container {
  width: 100%;
}
.container_use {
  display: inline-block;
  font-size: 1.5rem;
  padding: 20px 0 5px 5px;
  opacity: 0.5;
}
.container_title {
  font-size: 2rem;
  display: inline-block;
  padding: 10px 0 15px 5px;
}
.container_picture img {
  width: 100%;
}
.container_price {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 20px 0;
}
.container_price span {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.container_price span:first-child {
  text-decoration: line-through;
  opacity: 0.5;
}

.caracteristicas {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px 0 20px 0;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}
.descripcion {
  text-align: center;
}
.descripcion h3,
.fotos_img h3,
.otras h3 {
  font-size: 1.7rem;
  display: inline-block;
  padding: 20px 0;
}
.detalles {
  border-radius: 20px;
  border: 1px solid #ededed;
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
}
.caracteristicas .grid {
  width: 100%;
  grid-template-columns: 1fr 1fr;
  display: grid;
  align-items: center;
}
.caracteristicas .grid span {
  font-size: 1.5rem;
  display: inline-block;
  padding: 15px 0;
  font-weight: 800;
}
.caracteristicas .grid:nth-child(2n -1) {
  background-color: #f5f5f5;
}
.caracteristicas .grid span:nth-child(2n -1) {
  margin-left: 20px;
}
.caracteristicas .grid span:nth-child(2n) {
  font-weight: 400;
}
/* .caracteristicas .grid span:first-child {
  width: 50%;
} */

.fotos {
  width: 100%;
}
.fotos_img img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}
.fotos_img h3 {
  margin-left: 15px;
}

.otras {
  width: 100%;
}
.otras img {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.descrip p {
  display: inline-block;
  padding: 15px 5px 5px;
  font-size: 2rem;
}
.descrip a {
  display: inline-block;
  padding: 5px 5px 20px;
  font-size: 1.5rem;
}
.title_otras {
  padding: 40px 10px 20px;
}
.title_otras h3 {
  display: block;
  padding: 20px 10px 10px;
}
.title_otras span {
  display: block;
  font-size: 1.5rem;
  padding: 0 10px 0;
  opacity: 0.5;
}
.title_otras .span {
  opacity: 1;
}

.card {
  width: 97%;
  margin: 0 auto;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #000;
}
#whatsapp {
  position: fixed;
  width: 5rem;
  height: 5rem;
  bottom: 5rem;
  right: 40px;
  font-size: 3.5rem;
  border-radius: 50%;
  background-color: #25d366;
  color: #000;
  box-shadow: 2px 2px 3px rgb(49, 49, 49);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.float:hover {
  color: #25d366;
  background-color: #000;
}

/* @media only screen and (max-width: 600px) {
  .contpadre {
    width: ;
  }
}
 */
